/*Googel fonts --poppins*/

@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:wght@300;400;500;600&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #efefef;
}

.profileCard {

    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    background: #f8f8f8;
    border-radius: 24px;
    padding: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    position: relative;

}

.profileCard::before {
    content: '';
    position: absolute;
    top: 0;
    height: 150px;
    width: 100%;
    border-radius: 24px 24px 0 0;
    background-color: #4070f4;
}

.image {

    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #4070f4;
    padding: 3px;
    margin-bottom: 10px;
}

.image .profileImg {

    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}

.profileCard .textData {

    display: flex;
    flex-direction: column;
    align-items: center; 
    color: #333;
}

.textData .name {

    font-size: 22px;
    font-weight: 500;
}
.textData .job {

    font-size: 15px;
    font-weight: 400;
}

.profileCard .mediaButtons {

    display: flex;
    align-items: center;
    margin-top: 15px;
}

.mediaButtons .link {

    height: 34px;
    width: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    background-color: #4070f4;
    margin: 0 8px;
    border-radius: 50%;
}

.profileCard .buttons {

    display: flex;
    align-items: center;
    margin-top: 25px;    
}

.buttons .button {

    background-color: #4070f4;
    border: none;
    margin: 0 10px;
    padding: 8px 24px;
    border-radius: 24px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buttons .button:hover {

    background-color: #0e4bf1;
}

.profileCard .analytics {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.analytics .data {

    display: flex;
    align-items: center;
    color: #333;
    margin-right: 20px;
    padding:  0 20px;
    border-right: 2px solid #d7d5d5;
}

.data i {

    font-size: 18px;
    margin-right: 6px;
}

.data:last-child {

    border-right: none;
}

